[data-theme="light"] {
  --color-primary: #ff4d21;
  --color-secondary: #ff4d21;
  --color-text: #111827;
  --color-text-offset: #4b5563;
  --color-background: #f9fafb;
  --color-background-offset: #f3f4f6;
  --color-border: rgb(17 24 39 / 10%);
}

[data-theme="dark"] {
  --color-primary: #ff4d21;
  --color-secondary: #ff4d21;
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.400");
  --color-background: theme("colors.gray.900");
  --color-background-offset: theme("colors.gray.800");
  --color-border: theme("colors.gray.50" / 10%);
}
