---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="blog">
  <div
    class="items-left justify-left w-full max-w-6xl pb-0 pt-5"
    style="margin:-15px;"
  >
    <h1 class="pb-7 text-left font-bold text-3xl">Blog Posts</h1>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <div
        style="border-radius: 13px;"
        class="relative border border-default bg-offset px-8 pt-8 pb-8"
      >
        <img
          style="border-radius: 13px;"
          src="https://images.unsplash.com/photo-1670096367322-1eb58c544913?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1845&q=80"
        />
        <p class="pt-5 font-bold text-lg">My Goals for 2023</p>
        <p class="text-sm">1st January 2023</p>
      </div>
      <div
        style="border-radius: 13px;"
        class="relative border border-default bg-offset px-8 pt-8 pb-8"
      >
        <img
          style="border-radius: 13px;"
          src="https://images.unsplash.com/photo-1670096367322-1eb58c544913?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1845&q=80"
        />
        <p class="pt-5 font-bold text-lg">My Goals for 2023</p>
        <p class="text-sm">1st January 2023</p>
      </div>

      <div
        style="border-radius: 13px;"
        class="relative border border-default bg-offset px-8 pt-8 pb-8"
      >
        <img
          style="border-radius: 13px;"
          src="https://images.unsplash.com/photo-1670096367322-1eb58c544913?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1845&q=80"
        />
        <p class="pt-5 font-bold text-lg">My Goals for 2023</p>
        <p class="text-sm">1st January 2023</p>
      </div>
    </div>
  </div>
</ContentSection>
