---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="contact">
  <center>
    <p class="pb-4 font-bold text-xl">Want to get in touch?</p>
    <a
      href="mailto:hello@reeceatkinson.com"
      class="cursor-pointer rounded-md bg-[#ff4d21] px-6 py-2 font-semibold text-white text-sm hover:text-gray-200"
      >Contact Me</a
    >
  </center>
</ContentSection>
