---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="contact">
    <center>
        <p class="font-bold text-xl pb-4">Want to get in touch?</p>
        <a href="mailto:hello@reeceatkinson.com" class="rounded-md bg-[#ff4d21] cursor-pointer px-6 py-2 text-white text-sm font-semibold hover:text-gray-200">Contact Me</a>
    </center>
</ContentSection>
