---
import type { FooterLink } from "~/types";
---

<footer class="relative flex h-24 items-center justify-center bg-slate-800">
  <ul class="relative grid grid-cols-3 gap-4 sm:grid-cols-3">
    <!--GitHub-->
    <a
      class="flex h-7 w-7 items-center justify-center"
      target="_blank"
      href="https://github.com/reeceatkinson"
    >
      <img src="github.svg" class="foot-svg" />
    </a>

    <!--Product Hunt-->
    <a
      class="flex h-7 w-7 items-center justify-center"
      target="_blank"
      href="https://www.producthunt.com/@atkinson"
    >
      <img src="producthunt.svg" class="foot-svg" />
    </a>

    <!--Twitter-->
    <a
      class="flex h-7 w-7 items-center justify-center"
      target="_blank"
      href="https://codepen.io/reeceatkinson"
    >
      <img src="codepen.svg" class="foot-svg" />
    </a>
  </ul>
</footer>

<style>
  .foot-svg {
    transition: 0.5s;
  }

  .foot-svg:hover {
    fill: #ff4d21;
    transition: 0.5s;
    transform: scale(1.1);
  }
</style>
