---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="intro">
  <div class="items-left justify-left w-full max-w-6xl">
    <h1 class="pb-2 text-left font-bold text-3xl">About Me...</h1>
    <p class="text-semibold">
      <span class="pb-4">I'm a frontend web developer based in the UK, where I have built many
      sites that are engaging and intuitive to use.</span> <br />I am currently working
      on <a href="https://upmeet.me" class="text-[#ff4d21] hover:text-[#a7290a]"
        >UpMeet</a
      >, as well as several other active projects. I am passionate about what I
      do, and strive to create the best possible web experiences for my clients
      and users.
    </p>
  </div>
</ContentSection>
