---
import CompatibilityList from "~/components/mystack-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Astro",
    icon: "frameworks/astro",
    url: "https://astro.build/",
  },
  {
    title: "Tailwind CSS",
    icon: "frameworks/tailwindcss",
    url: "https://tailwindcss.com/",
  },
  {
    title: "Swift UI",
    icon: "frameworks/swift",
    url: "https://developer.apple.com/swift",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://cloudflare.com/",
  },
  {
    title: "Figma",
    icon: "fa-brands:figma",
    url: "https://figma.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://github.com/",
  },
  {
    title: "Stripe",
    icon: "fa-brands:stripe-s",
    url: "https://stripe.com/",
  },
];
---

<ContentSection id="skills">
  <div
    class="items-left justify-left w-full max-w-6xl pb-0 pt-5"
    style="margin:-15px;"
  >
    <h1 class="pb-0 text-left font-bold text-3xl">My Stack</h1>
  </div>
  <CompatibilityList items={frameworks} title="Frameworks" />
  <CompatibilityList items={platforms} title="Platforms" />
</ContentSection>
