---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="projects">
  <div
    class="items-left justify-left w-full max-w-6xl pb-0 pt-5"
    style="margin:-15px;"
  >
    <h1 class="pb-7 text-left font-bold text-3xl">My Projects</h1>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <div
        style="border-radius: 13px;"
        class="relative border border-default bg-offset px-6 pt-5 pb-4"
      >
        <p class="font-bold leading-snug">UpMeet</p>
        <p class="text-sm">
          UpMeet makes you video calls customisable with your brand wherever you
          want it.
        </p>
        <small class="text-small font-medium leading-none text-[#ff4d21]"
          ><a href="https://upmeet.me/" target="_blank">upmeet.me</a>
        </small>
      </div>
      <div
        style="border-radius: 13px;"
        class="relative border border-default bg-offset px-6 pt-4 pb-4"
      >
        <p class="font-bold leading-snug">Diverse AI</p>
        <p class="text-sm">
          Diverse AI is a research experiment to see if AI can accurately answer
          questions as if it were Google.
        </p>
        <small class="text-small font-medium leading-none text-[#ff4d21]"
          ><a href="https://alpha.ai.reeceatkinson.com/" target="_blank"
            >ai.reeceatkinson.com</a
          >
        </small>
      </div>

      <div
        style="border-radius: 13px;"
        class="relative border border-default bg-offset px-6 pt-4 pb-4"
      >
        <p class="font-bold leading-snug">ShortenAI</p>
        <p class="text-sm">
          ShortenAI is a javascript web app that takes key points of long text
          and shortens it into bullet points.
        </p>
        <small class="text-small font-medium leading-none text-[#ff4d21]"
          ><a href="https://shortenai.web.app/" target="_blank"
            >shortenai.web.app</a
          >
        </small>
      </div>

      <div
        style="border-radius: 13px;"
        class="relative border border-default bg-offset px-6 pt-4 pb-4"
      >
        <p class="font-bold leading-snug">Days Until</p>
        <p class="text-sm">
          A modern and visually appealing web app that tells you how many days until a certain date.
        </p>
        <small class="text-small font-medium leading-none text-[#ff4d21]"
          ><a href="https://daysuntil.reeceatkinson.com/" target="_blank">daysuntil.reeceatkinson.com</a>
        </small>
      </div>

      <div
        style="border-radius: 13px;"
        class="relative border border-default bg-offset px-6 pt-4 pb-4"
      >
        <p class="font-bold leading-snug">LogoSnap</p>
        <p class="text-sm">
          An open-source javascript app that allows people to easily copy brand assets defined by the brand.
        </p>
        <small class="text-small font-medium leading-none text-[#ff4d21]"
          ><a href="https://github.com/reeceatkinson/logosnap" target="_blank">reeceatkinson/logosnap</a>
        </small>
      </div>
    </div>
    <br />
  </div>
</ContentSection>
